<!-- Creative project? Let's have a productive talk. -->
<section class="about-form">
	<div class="container">
		<h2 class="about-form__title h2">
			Creative project? Let's have a productive talk.
		</h2>
		<form action="" class="about-form__form">
			<div class="about-form__input">
				<input
					class="about-form__name"
					type="text"
					name="name"
					placeholder="Name"
				/>
				<input
					class="about-form__email"
					type="email"
					name="email"
					placeholder="Email"
				/>
			</div>
			<textarea
				class="about-form__textarea"
				name="text"
				cols="30"
				rows="10"
				placeholder="Hello Iam Intrested in.."
			></textarea>
			<button class="about-form__btn" type="submit">Send Now</button>
		</form>
	</div>
</section>
<!-- Creative project? Let's have a productive talk. -->
