<!-- section About -->
<section class="about-section">
	<div class="container">
		<img src="./img/Quotes.svg" alt="quotes" class="about-section__img" />
		<div class="about-section__inner">
			<div class="about-section__do">
				<div class="about-section__do-content">
					<h2 class="about-section__do-title h2">What We Do</h2>
					<p class="about-section__do-text">
						It is a long established fact that a reader will be distracted by
						the of readable content of a page when lookings at its layouts the
						points of using that it has a more-or-less normal.
					</p>
					<a href="#!" class="about-section__do-btn">Our Concept</a>
				</div>
				<img
					class="about-section__do-img"
					src="./img/s2-do.png"
					alt="foto do"
				/>
			</div>
			<div class="about-section__end">
				<div class="about-section__end">
					<img
						class="about-section__end-img"
						src="./img/s2-result.png"
						alt="foto end"
					/>
					<div class="about-section__end-content">
						<h2 class="about-section__end-title h2">The End Result</h2>
						<p class="about-section__end-text">
							It is a long established fact that a reader will be distracted by
							the of readable content of a page when lookings at its layouts the
							points of using that it has a more-or-less normal.
						</p>
						<a href="#!" class="about-section__end-btn"> Our Portfolio </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section About -->
