<!-- Latest Post -->
<section class="blog-post">
	<div class="container">
		<h2 class="blog-post__title h2">Latest Post</h2>
		<div class="blog-post__inner">
			<img src="./img/s5-last.png" alt="design" class="blog-post__img" />
			<div class="blog-post__content">
				<h3 class="blog-post__content-title h3">
					Low Cost Latest Invented Interior Designing Ideas
				</h3>
				<p class="blog-post__content-text">
					Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpis
					dignissim maximus.posuere in.Contrary to popular belief.
				</p>
				<p class="blog-post__content-desc">
					Lorem Ipsum is not simply random text. It has roots in a piece of
					classica.
				</p>
				<div class="blog-post__content-block">
					<p class="blog-post__content-data">26 December,2022</p>
					<a href="#!" class="blog-post__content-btn">
						<img
							class="blog-post__content-btn-img"
							src="./img/page-circol.svg"
							alt="page"
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end Latest Post -->
