<!-- Contact Helping -->
<section class="contact-helping">
	<div class="container">
		<h2 class="contact-helping__title h2">
			We love meeting new people and helping them.
		</h2>
		<div class="contact-helping__content">
			<address class="contact-helping__address">
				<a
					href="mailto:info@yourdomain.com"
					class="contact-helping__address-mail"
				>
					<div class="contact-helping__address-icon-container">
						<img
							class="contact-helping__address-icon"
							src="./img/mail-icon.svg"
							alt="email"
						/>
					</div>
					<div class="contact-helping__address-icon-text">
						info@yourdomain.com
					</div>
				</a>
				<a href="tel:+13784001234" class="contact-helping__address-tel">
					<div class="contact-helping__address-icon-container">
						<img
							class="contact-helping__address-icon"
							src="./img/call-icon2.svg"
							alt="call"
						/>
					</div>
					<div class="contact-helping__address-icon-text">
						+1 (378) 400-1234
					</div>
				</a>
				<a
					href="https://www.yourdomain.com/"
					target="_blank"
					class="contact-helping__address-site"
				>
					<div class="contact-helping__address-icon-container">
						<img
							class="contact-helping__address-icon"
							src="./img/world-icon.svg"
							alt="site"
						/>
					</div>
					<div class="contact-helping__address-icon-text">
						www.yourdomain.com
					</div>
				</a>
				<div class="contact-helping__address-soc">
					<a
						class="contact-helping__address-soc-icon"
						href="https://www.facebook.com/?locale=ru_RU"
						target="_blank"
					>
						@@include('./svg/facebook.html')
					</a>
					<a
						class="contact-helping__address-soc-icon"
						href="https://twitter.com/?lang=ru"
						target="_blank"
					>
						@@include('./svg/twitter.html')
					</a>
					<a
						class="contact-helping__address-soc-icon"
						href="https://www.linkedin.com/company/in-site"
						target="_blank"
					>
						@@include('./svg/linkedin.html')
					</a>
					<a
						class="contact-helping__address-soc-icon"
						href="https://www.instagram.com/"
						target="_blank"
					>
						@@include('./svg/instagram.html')
					</a>
				</div>
			</address>
			<form class="contact-helping__form" action="">
				<div class="contact-helping__form-input1">
					<input
						class="contact-helping__form-name"
						type="text"
						placeholder="Name"
					/>
					<input
						class="contact-helping__form-email"
						type="email"
						placeholder="Email"
					/>
				</div>
				<div class="contact-helping__form-input2">
					<input
						class="contact-helping__form-subject"
						type="text"
						placeholder="Subject"
					/>
					<input
						class="contact-helping__form-phone"
						type="tel"
						placeholder="Phone"
					/>
				</div>
				<textarea
					class="contact-helping__form-textarea"
					name=""
					cols="30"
					rows="10"
					placeholder="Hello Iam Intrested in.."
				></textarea>
				<button class="contact-helping__form-btn">Send Now</button>
			</form>
		</div>
	</div>
</section>
<!-- end Contact Helping -->
