<!-- Question  -->
<section class="faq-question">
	<div class="container">
		<h2 class="faq-question__title h2">Every Question Answered</h2>
		<div class="faq-question__inner">
			<div class="faq-question__inner-container">
				<div class="faq-question__content" data-block>
					<h3 class="faq-question__content-title h3" data-title="active">
						What is the Hipcouch Interior Design Service?
					</h3>
					<p class="faq-question__content-text" data-text="active">
						Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae
						turpmaximus.posuere in.Contrary popular belief. There are many
						variations of passages of Lorem Ipsum available, but the majority
						randomised.
					</p>
				</div>
				<div class="faq-question__content" data-block>
					<h3 class="faq-question__content-title h3" data-title="active">
						So, how exactly does this work?
					</h3>
					<p class="faq-question__content-text" data-text="active">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
						cum, corporis, ullam exercitationem non deleniti adipisci sequi
						aspernatur temporibus obcaecati totam asperiores enim quis voluptate
						repudiandae qui, nihil mollitia rem!
					</p>
				</div>
				<div class="faq-question__content" data-block>
					<h3 class="faq-question__content-title h3" data-title="active">
						What cities do you currently operate in?
					</h3>
					<p class="faq-question__content-text" data-text="active">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ad
						harum autem veritatis provident doloribus?
					</p>
				</div>
				<div class="faq-question__content" data-block>
					<h3 class="faq-question__content-title h3" data-title="active">
						Hipcouch Interior Design Service?
					</h3>
					<p class="faq-question__content-text" data-text="active">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
						nostrum temporibus error iusto molestias maiores, libero rerum sint!
					</p>
				</div>
				<div class="faq-question__content" data-block>
					<h3 class="faq-question__content-title h3" data-title="active">
						What kind of interior designers do you have?
					</h3>
					<p class="faq-question__content-text" data-text="active">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
						consequuntur numquam voluptatum harum.
					</p>
				</div>
			</div>
			<div class="faq-question__picture">
				<img class="faq-question__img" src="./img/s7-img1.png" alt="design" />
			</div>
		</div>
	</div>
</section>
<!-- end Question  -->
