<!-- Question Project -->
<section class="faq-project">
	<div class="container">
		<h2 class="faq-project__title h2">Project related questions</h2>
		<div class="faq-project__inner">
			<div class="faq-project__picture">
				<img class="faq-project__img" src="./img/s7-img2.png" alt="design" />
			</div>
			<div class="faq-project__inner-container">
				<div class="faq-project__content" data-block>
					<h3 class="faq-project__content-title h3" data-title="active">
						How long does it take?
					</h3>
					<p class="faq-project__content-text" data-text="active">
						Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae
						turpmaximus.posuere in.Contrary popular belief. There are many
						variations of passages of Lorem Ipsum available, but the majority
						randomised.
					</p>
				</div>
				<div class="faq-project__content" data-block>
					<h3 class="faq-project__content-title h3" data-title="active">
						Can I use my existing furnishings?
					</h3>
					<p class="faq-project__content-text" data-text="active">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
						cum, corporis, ullam exercitationem non deleniti adipisci sequi
						aspernatur temporibus obcaecati totam asperiores enim quis voluptate
						repudiandae qui, nihil mollitia rem!
					</p>
				</div>
				<div class="faq-project__content" data-block>
					<h3 class="faq-project__content-title h3" data-title="active">
						I put into redesigning my interior?
					</h3>
					<p class="faq-project__content-text" data-text="active">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ad
						harum autem veritatis provident doloribus?
					</p>
				</div>
				<div class="faq-project__content" data-block>
					<h3 class="faq-project__content-title h3" data-title="active">
						What do your services cost?
					</h3>
					<p class="faq-project__content-text" data-text="active">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
						nostrum temporibus error iusto molestias maiores, libero rerum sint!
					</p>
				</div>
				<div class="faq-project__content" data-block>
					<h3 class="faq-project__content-title h3" data-title="active">
						Do you offer free consultations?
					</h3>
					<p class="faq-project__content-text" data-text="active">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
						consequuntur numquam voluptatum harum.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end Question Project -->
