<!-- Info -->
<section class="info">
	<div class="container">
		<div class="info__inner">
			<div class="info__content">
				<h3 class="info__title h3">Project Plan</h3>
				<p class="info__text">
					There are many variations of the passages of lorem Ipsum from
					available, majority.
				</p>
				<a href="#!" class="info__link">
					<p class="info__link-text">Read More</p>
					<img src="./img/page.svg" alt="page" class="info__link-img" />
				</a>
			</div>
			<div class="info__content">
				<h3 class="info__title h3">Interior Work</h3>
				<p class="info__text">
					There are many variations of the passages of lorem Ipsum from
					available, majority.
				</p>
				<a href="#!" class="info__link">
					<p class="info__link-text">Read More</p>
					<img src="./img/page.svg" alt="page" class="info__link-img" />
				</a>
			</div>
			<div class="info__content">
				<h3 class="info__title h3">Realization</h3>
				<p class="info__text">
					There are many variations of the passages of lorem Ipsum from
					available, majority.
				</p>
				<a href="#!" class="info__link">
					<p class="info__link-text">Read More</p>
					<img src="./img/page.svg" alt="page" class="info__link-img" />
				</a>
			</div>
		</div>
	</div>
</section>
<!-- end info -->
