<!-- Statistics -->
<section class="statistics">
	<div class="container">
		<div class="statistics__inner">
			<div class="statistics__content">
				<span class="statistics__span">12</span>
				<p class="statistics__text">Years Of Experiance</p>
			</div>
			<div class="statistics__content">
				<span class="statistics__span">85</span>
				<p class="statistics__text">Success Project</p>
			</div>
			<div class="statistics__content">
				<span class="statistics__span">15</span>
				<p class="statistics__text">Active Project</p>
			</div>
			<div class="statistics__content">
				<span class="statistics__span">95</span>
				<p class="statistics__text">Happy CUstomers</p>
			</div>
		</div>
	</div>
</section>
<!-- end Statistics -->
