<!-- Create The Art -->
<section class="create-art">
	<div class="container">
		<div class="create-art__inner">
			<div class="create-art__content">
				<h2 class="create-art__title h2">
					We Create The Art Of Stylish Living Stylishly
				</h2>
				<p class="create-art__text">
					It is a long established fact that a reader will be distracted by the
					of readable content of a page when lookings at its layouts the points
					of using that it has a more-or-less normal.
				</p>
				<a href="tel:012345678" class="create-art__link">
					<img
						class="create-art__link-img"
						src="./img/Call-icon.svg"
						alt="call"
					/>
					<div class="create-art__link-content">
						<p class="create-art__link-number">012345678</p>
						<p class="create-art__link-text">Call Us Anytime</p>
					</div>
				</a>
				<a href="#!" class="create-art__btn"> Get Free Estimate </a>
			</div>
			<div class="create-art__image">
				<img
					src="./img/s1.png"
					alt="create-art"
					class="create-art__image-img"
				/>
			</div>
		</div>
	</div>
</section>
<!-- end Create The Art -->
