<!-- What the People Thinks About Us -->
<section class="people-thinks">
	<div class="container">
		<div class="people-thinks__inner">
			<h2 class="people-thinks__title h2">What the People Thinks About Us</h2>
			<div class="people-thinks__content">
				<img
					class="people-thinks__img"
					src="./img/s1-about1.jpg"
					alt="comment"
				/>
				<img
					class="people-thinks__img"
					src="./img/s1-about2.jpg"
					alt="comment"
				/>
				<img
					class="people-thinks__img"
					src="./img/s1-about3.jpg"
					alt="comment"
				/>
			</div>
		</div>
	</div>
</section>
<!-- end What the People Thinks About Us -->
