<article class="article-card @@class-card">
	<div class="article-card__picture">
		<img
			src="./img/@@img"
			alt="Kitchen Design"
			width="340"
			class="article-card__picture-img"
		/>
		<a href="#!" class="article-card__picture-text">@@link</a>
	</div>
	<h3 class="article-card__title h3">@@title</h3>
	<div class="article-card__desc">
		<p class="article-card__desc-text">@@text</p>
		<a href="#!" class="article-card__desc-link @@class-btn">
			<img src="./img/page-circol.svg" alt="page" />
		</a>
	</div>
</article>
