<article id="card-people" class="card-people__item">
	<img src="./img/@@img" alt="face" class="card-people__img" />
	<div class="card-people__content">
		<h3 class="card-people__content-title h3">@@title</h3>
		<p class="card-people__content-text">@@text</p>
		<div class="card-people__content-soc">
			<a href="https://www.facebook.com/?locale=ru_RU" target="_blank">
				@@include('../svg/facebook.html')
			</a>
			<a href="https://twitter.com/?lang=ru" target="_blank">
				@@include('../svg/twitter.html')
			</a>
			<a href="https://www.linkedin.com/company/in-site" target="_blank">
				@@include('../svg/linkedin.html')
			</a>
			<a href="https://www.instagram.com/" target="_blank">
				@@include('../svg/instagram.html')
			</a>
		</div>
		<a href="@@link-tel" class="card-people__content-tel"> @@tel </a>
		<a href="@@link-email" class="card-people__content-mail"> @@email </a>
	</div>
</article>
