<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Web setting -->
<title>Title development</title>
<meta name="description" content=""Development" - это онлайн-ресурс,
предназначенный для разработчиков и технических специалистов. Мы предлагаем
полезные статьи, руководства, уроки и инструменты для программистов,
веб-разработчиков, системных администраторов и всех, кто интересуется
современными технологиями разработки. Наша цель - помочь профессионалам в сфере
разработки быть в курсе последних тенденций, улучшить свои навыки и достичь
успеха в своей карьере." />
<link rel="shortcut icon" href="./img/world-icon.svg" type="image/png" />

<!-- Styles -->
<link rel="stylesheet" href="./css/main.css" />
