<div id="menuMobile" class="header__menu-mobile">
	<input
		id="search-mob"
		class="header__menu-mobile-input"
		type="search"
		placeholder="Search..."
	/>
	<ul class="header__menu-mobile-list">
		<li class="header__menu-mobile-item">
			<a href="./index.html" class="header__menu-link">Home</a>
		</li>
		<li class="header__menu-mobile-item">
			<a href="#!" class="header__menu-link">Pages</a>
		</li>
		<li class="header__menu-mobile-item">
			<a href="#!" class="header__menu-link">Services</a>
		</li>
		<li class="header__menu-mobile-item">
			<a href="./project.html" class="header__menu-link">Project</a>
		</li>
		<li class="header__menu-mobile-item">
			<a href="./blog.html" class="header__menu-link">Blog</a>
		</li>
		<li class="header__menu-mobile-item">
			<a href="./contacrt.html" class="header__menu-link">Contact</a>
		</li>
	</ul>
</div>
